language: android
android:
  components:
    - tools # to get the new `repository-11.xml`
    - tools # see https://github.com/travis-ci/travis-ci/issues/6040#issuecomment-219367943)
    - platform-tools
    - build-tools-27.0.3
    - android-28
before_install:
  - cd GymCompanion
before_script:
  - chmod +x gradlew
script:
   - gradle build
